<div class="modal fade" id="trick-{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="trickTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ trick.title }}</h5>
                {% if app.user.id is defined and app.user.id == trick.author.id %}
                    <div class="ml-auto d-flex">
                        <a href="edit-{{ trick.id }}" class="px-2" data-toggle="modal" data-target="#trick-edit-{{ trick.id }}" data-dismiss="modal"><i class="fas fa-pen"></i></a>
                        <form method="post" action="{{ path('trick.delete', {id: trick.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="py-0 px-2 btn btn-link text-dark"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="trick-description">{{ trick.description }}</p>
                <table class="table border border-dark">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Publié par</th>
                        <th scope="col">Publié le</th>
                        {% if trick.datePost != trick.dateUpdate %}
                            <th scope="col">Édité le</th>
                        {% endif %}
                        {% if app.user.id is defined and app.user.id != trick.author.id %}
                            <th scope="col">Édité par</th>
                        {% endif %}
                        <th scope="col">Catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{  trick.author.username }}</td>
                        <td>{{ trick.datePost|date("d/m/Y", "Europe/Paris") }}</td>
                        {% if trick.datePost != trick.dateUpdate %}
                            <td>{{ trick.dateUpdate|date("d/m/Y", "Europe/Paris") }}</td>
                        {% endif %}
                        {% if app.user.id is defined and app.user.id != trick.author.id %}
                            <td>{{ trick.Editor }}</td>
                        {% endif %}
                        <td>{{ trick.category }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if app.user.id is defined %}
                    {{ form_start(formsNewComment[trick.id]) }}
                        {{ form_rest(formsNewComment[trick.id]) }}
                        <button class="btn btn-success">Envoyer</button>
                    {{ form_end(formsNewComment[trick.id]) }}
                {% endif %}


                <div class="container">
                    <div class="row px-0- mx-0">
                        {% for comment in comments[trick.id] %}
                            {% for c in comment %}
                                {% if c.body is not empty %}
                                    <div class="col-7 py-3 my-2 mx-auto border border-dark">
                                        <div class="d-flex">
                                            <h2 class="h5 mr-auto"> Rédigé par {{ c.authorId.username }}</h2>
                                            <p>Publié le {{ c.publishedat|date("d/m/Y", "Europe/Paris") }}</p>
                                        </div>
                                        {{ c.body }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>