<div class="modal fade" id="trick-{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="trickTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header {% for image in images[trick.id] if image is not empty %}h-33vh p-0 position-relative overflow-hidden{% endfor %}">
                {% for image in images[trick.id] if image is not empty %}
                    {% for image in images[trick.id] %}
                        {% for i in image %}
                            {% if i is not empty and i.statut == 'primary' %}
                                <div class="container-{{ i.statut }}">
                                    <img class="h-100 w-100" src="{{ asset('build/uploads/' ~ i.name) }}" alt="{{ trick.title }} {{ i.name }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <h5 class="modal-title{% for image in images[trick.id] if image is not empty %}-primary zindex-2{% endfor %}">{{ trick.title }}</h5>
                {% if app.user.id is defined and app.user.id == trick.author.id %}
                    <div class="ml-auto d-flex">
                        <a href="edit-{{ trick.id }}" class="py-0 px-2 btn zindex-2" data-toggle="modal" data-target="#trick-edit-{{ trick.id }}" data-dismiss="modal"><i class="fas fa-pen"></i></a>
                        <form method="post" action="{{ path('trick.delete', {id: trick.id}) }}" class="zindex-2">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="py-0 px-2 btn btn-link text-dark"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                {% endif %}
                <button type="button" class="close zindex-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                {% if images[trick.id] is not empty or videos[trick.id] is not empty %}
                    <div class="col-12 container-media h-200">
                    {% for image in images[trick.id] if image is not empty %}
                        {% for i in image %}
                            {% if i is not empty %}
                                {% if i.statut == 'primary' %}
                                    <div class="col-2 row h-100 mx-0">
                                        <div class="h-75 w-100 d-flex">
                                            <img class="border border-primary mw-100 mh-100 m-auto" src="{{ asset('build/uploads/' ~ i.name) }}" alt="{{ trick.title }} {{ i.name }}">
                                        </div>
                                        <div class="text-center my-auto mh-25 image-title">{{ i.name }}</div>
                                    </div>
                                {% else %}
                                    <div class="col-2 row h-100 mx-0">
                                        <div class="h-75 w-100 d-flex">
                                            <img class="mw-100 mh-100 m-auto" src="{{ asset('build/uploads/' ~ i.name) }}" alt="{{ trick.title }} {{ i.name }}">
                                        </div>
                                        <div class="text-center my-auto mh-25 image-title">{{ i.name }}</div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% for video in videos[trick.id] if video is not empty %}
                        {% for v in video %}
                            <iframe class="col-3 h-100" src="{{ v.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
                <p class="trick-description">{{ trick.description }}</p>
                <table class="table border border-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Publié par</th>
                            <th scope="col">Publié le</th>
                            {% if trick.datePost != trick.dateUpdate %}
                                <th scope="col">Édité le</th>
                            {% endif %}
                            {% if app.user.id is defined and app.user.id != trick.author.id %}
                                <th scope="col">Édité par</th>
                            {% endif %}
                            <th scope="col">Catégorie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{{ path('user.profile', {id: trick.author.id}) }}">{{  trick.author.username }}</a></td>
                            <td>{{ trick.datePost|date("d/m/Y", "Europe/Paris") }}</td>
                            {% if trick.datePost != trick.dateUpdate %}
                                <td>{{ trick.dateUpdate|date("d/m/Y", "Europe/Paris") }}</td>
                            {% endif %}
                            {% if app.user.id is defined and app.user.id != trick.author.id %}
                                <td>{{ trick.Editor }}</td>
                            {% endif %}
                            <td>{{ trick.category }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if app.user.id is defined %}
                    {{ form_start(formsNewComment[trick.id]) }}
                        {{ form_rest(formsNewComment[trick.id]) }}
                        <button class="btn btn-success">Envoyer</button>
                    {{ form_end(formsNewComment[trick.id]) }}
                {% endif %}


                <div class="container">
                    <div class="row px-0- mx-0">
                        {% for comment in comments[trick.id] %}
                            {% for c in comment %}
                                {% if c.body is not empty %}
                                    <div class="col-7 py-3 my-2 mx-auto border border-dark">
                                        <div class="d-flex">
                                            <h2 class="h5 mr-auto"> Rédigé par {{ c.authorId.username }}</h2>
                                            <p>Publié le {{ c.publishedat|date("d/m/Y", "Europe/Paris") }}</p>
                                        </div>
                                        {{ c.body }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>