{% if app.user.id is defined and app.user.id == trick.author.id %}
    <div class="modal fade" id="trick-edit-{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="trickTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ trick.title }}</h5>

                        <div class="ml-auto">
                            <a href="#" class="px-2"><i class="fas fa-pen"></i></a>
                            <a href="#" class="px-2"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="d-block mx-auto my-2 w-50">{{ form_row(form.title) }}</div>
                    <div id="trick-description">{{ form_row(form.description) }}</div>
                    <table class="table border border-dark">
                        <thead class="thead-dark">
                        <tr class="row mx-0">
                            <th class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}" scope="col">Publié par</th>
                            <th class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}" scope="col">Publié le</th>
                            {% if not trick.datePost == trick.dateUpdate %}
                                <th class="col-2" scope="col">Édité le</th>
                                <th class="col-2" scope="col">Édité par</th>
                            {% endif %}
                            <th class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}" scope="col">Catégorie</th>
                            <th class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}" scope="col">Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="row mx-auto">
                            <td class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}">{{  trick.author.username }}</td>
                            <td class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}">{{ trick.datePost|date("d/m/Y", "Europe/Paris") }}</td>
                            {% if not trick.datePost == trick.dateUpdate %}
                                <td class="col-2">{{ trick.dateUpdate|date("d/m/Y", "Europe/Paris") }}</td>
                                <td class="col-2">{{ trick.Editor }}</td>
                            {% endif %}
                            <td class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}">{{ form_widget(form.category) }}</td>
                            <td class="{% if not trick.datePost == trick.dateUpdate %}col-2{% else %} col-3{% endif %}">{{ form_widget(form.statut) }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}