{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-100 {{ appFlashes|length > 0 ? 'mt--7' : 'mt-md-8' }} home-img">
        <div class="w-100 h-100 overflow-hidden text-center">
            <div class="position-relative h-100">
                <img class="mt-md-8" src="{{ asset('build/img/homepage.jpg') }}" alt="Home Tricks" />
                <h1 class="position-absolute text-light h2 slogan w-50 text-center">Rejoignez la plus grande communauté de fans de snow</h1>
                <div class="position-absolute home-img-arrow">
                    <button class="btn position-relative" type="button" data-toggle="collapse" data-target="#trickList" aria-expanded="false" aria-controls="trickList">
                        <i class="fas fa-arrow-circle-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse container-fluid" id="trickList">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-20 my-3 d-flex">
                    <div class="w-100 mx-auto p-2 row">
                        <div class="col-12 p-2 d-flex border border-dark">
                            <a href="{{ trick.id }}" class="trick-title mr-auto" data-toggle="modal" data-target="#trick-{{ trick.id }}">{{ trick.title }}</a>
                            {% if app.user.id is defined and app.user.id == trick.author.id %}
                                <a href="edit-{{ trick.id }}" class="px-2" data-toggle="modal" data-target="#trick-edit-{{ trick.id }}"><i class="fas fa-pen"></i></a>
                                <a href="#" class="px-2"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% include 'Modales/trickView.html.twig' %}
                {% include 'Modales/trickEdit.html.twig' %}
            {% endfor %}
        </div>
    </div>


{% endblock %}