{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center {{ appFlashes|length > 0 ? 'mt-5' : 'mt-md-15' }} mb-5 d-none d-md-block">Nouveau trick</h1>
    <a href="{{ path('tricks') }}" class="btn btn-primary">Retour</a>
    {{ form_start(form) }}
        {{ form_rest(form) }}
    <button class="btn btn-success">Poster</button>
    {{ form_end(form) }}
{% endblock %}