{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center {{ appFlashes|length > 0 ? 'mt-5' : 'mt-md-15' }} mb-5 d-none d-md-block">Profile of {{ user.username }}</h1>

    <a href="{{ path('user.profile', {id: app.user.id}) }}" class="btn btn-primary mx-auto my-3">See your profile</a>
    <form class="border border-dark p-4 container" method="post" action="{{ path('user.edit', {id: app.user.id}) }}">
        <h2 class="text-center mb-3">Edit your profile Information</h2>
        <table class="table border border-dark">
            <thead class="thead-dark row">
            <tr class="col-12 row bug-padding">
                <th class="col-20" scope="col">Username</th>
                <th class="col-20" scope="col">Email</th>
                <th class="col-20" scope="col">Role</th>
                <th class="col-20" scope="col">Total Tricks</th>
                <th class="col-20" scope="col">Total Comments</th>
            </tr>
            </thead>
            <tbody class="row">
            <tr class="col-12 row mx-0">
                <td class="col-20">
                    <label for="user_username" hidden>Username</label>
                    <input type="text" id="user_username" name="user[username]" value="{{ user.username }}" required>
                </td>
                <td class="col-20">
                    <label for="user_email" hidden>Username</label>
                    <input type="email" id="user_email" name="user[email]" value="{{ user.email }}" required>
                </td>
                <td class="col-20">{% if user.roles[0] == "ROLE_USER" %}User{% else %}Admin{% endif %}</td>
                <td class="col-20">{{ tricks }}</td>
                <td class="col-20">{{ comments }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table border border-dark container">
            <thead class="thead-dark row">
                <tr class="col-12 row mx-0">
                    <th class="col-6" scope="col">Old Password</th>
                    <th class="col-6" scope="col">New Password</th>
                </tr>
            </thead>
            <tbody class="row">
                <tr class="col-12 row mx-0">
                    <td class="col-6">
                        <label for="user_old_password" hidden>Old Password</label>
                        <input class="w-100" type="password" id="user_old_password" name="user[old_password]">
                    </td><td class="col-6">
                        <label for="user_new_password" hidden>New Password</label>
                        <input class="w-100" type="password" id="user_new_password" name="user[new_password]">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="w-100 d-flex"><button type="submit" class="btn btn-primary mx-auto my-3">Update my Profile</button></div>
    </form>
    <div class="border border-dark p-4 container my-3">
        <h2 class="text-center mb-3">Edit your profile Picture</h2>
        {% if user.profilePicture is not empty %}
        <div class="row my-3 h-200"><img class="mw-100 mh-100 m-auto" src="{{ asset('build/uploads/profile/' ~ user.profilePicture) }}" alt="{{ user.profilePicture }}"></div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form.profilePicture) }}
        <div class="d-flex my-3">
            <div class="mx-auto">
                {{ form_widget(form.submit)}}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}