<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'base/header.html.twig' %}
        {% set appFlashes = app.flashes %}
            <div class="{{ appFlashes|length > 0 ? 'flash-message-block' : '' }}">
                {% if appFlashes.success is defined %}
                    {% for message in appFlashes.success %}
                        <div class="alert alert-success my-0 flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% elseif appFlashes.danger is defined %}
                    {% for message in appFlashes.danger %}
                        <div class="alert alert-danger my-0 flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% elseif appFlashes.warning is defined %}
                    {% for message in appFlashes.warning %}
                        <div class="alert alert-warning my-0 flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% elseif appFlashes.notice is defined %}
                    {% for message in appFlashes.notice %}
                        <div class="alert alert-info my-0 flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% block body %}{{ appFlashes }}{% endblock %}
        {% include 'base/footer.html.twig' %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
